#Planning files
plan.txt

#Images
psdFiles

#Sublime project
Sublime Project

#Test data
testing
*.log

#Libraries
Lib

#FMOD Headers
FMOD

#Discord Headers
vendor/Discord

#MSVS
.vs
x64
Release
Debug
OnBeat.vcxproj.user
*.aps

#secret file
secrets.h

#Runtime
*.dll
*.exe