#Planning files
plan.txt

#Images
psdFiles

#Sublime project
Sublime Project

#Test data
testing
*.log

#Hazel Engine
Hazel
Hazelnut

#Libraries
Lib

#MSVS
.vs
x64
Release
Debug
OnBeat.vcxproj.user

#Runtime
*.dll
