@font-face {
  font-family: "Walkway Expand Black";
  src: url("../fonts/Walkway Expand Black.ttf");
}

@font-face {
  font-family: "Walkway UtraExpand";
  src: url("../fonts/Walkway UltraExpand.ttf");
}

* {
  font-family: "Walkway Expand Black";
}

body {
    overflow: hidden;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  user-select: none;
}

.titleBackground {
  text-align: right;
  background-color: #FDFDFD;
  margin-left: auto;
  margin-right: 0px;
  box-shadow: -4px 4px 8px 2px rgba(0,0,0,0.9);
}

.imgBackground {  
  background-image: url("./img/bg.png");
  background-size: 100% auto;
}

.title {
  padding: 8px;
}

.subOption {
  width: 80%;
  background-color: #D64649;
  box-shadow: -4px 4px 8px 2px rgba(0,0,0,0.9);
}

.subOption:hover {
  background-color: #FF1619;
  transition: .5s ease all;
  cursor: pointer;
}

.menuOption {
  font-size: 64px;
  padding: 16px;
}

.column {
  float: left;
}

.left {
  width: 40%;
} 

.right {
  width: 60%;
  height: 100%;
}

.header {
  position: relative;
  display: inline-block;
  padding: 24px;
  font-size: 50px;
  color: #FDFDFD;
}

.header:after {
  content: "|";
  color: #FF1619;
}

.header:last-child:after {
  content: "";
}

#MainMenu {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px;
}

#Menu {
  padding: 32px;
  padding-right: 0px;
}

#GameTitle {
  font-size: 96px;
  margin-left: 45%;
  padding-right: 12px;
}

#Settings {
  display: none;
}

#SettingsSection {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #FF1619;
  border-radius: 10px;
}

#Headers {
  display: inline-block;
  width: 100%;
  height: fit-content;
  border-bottom: 2px solid #FF1619;  
}

#SettingsQuit {
  position: absolute;
  font-size: 100px;
  top: 50%;
  transform: translateY(-50%);
  color: #FF1619;
  cursor: pointer;
  transition: .5s ease all;
}

#SettingsQuit:hover {
  color: #FDFDFD;
}