@font-face {
  font-family: "Walkway Expand Black";
  src: url("../fonts/Walkway Expand Black.ttf");
}

@font-face {
  font-family: "Walkway UtraExpand";
  src: url("../fonts/Walkway UltraExpand.ttf");
}

* {
  font-family: "Walkway Expand Black";
}

body {
    overflow: hidden;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

input, select {
  border: 2px solid #D64649;
  border-radius: 6px;
  padding: 8px;
  font-size: 28px;
  background-color: #1A1A1A;
  color: #FDFDFD;
  transition: .5s ease all;
  user-select: all;
}

input {
  width: 75%;
}

input[type="range"] {
  background-color: transparent;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #D64649;
  color: #FDFDFD;
}

input[type="range"]::-webkit-slider-thumb {
  margin-top: auto;
  width: 23px;
  height: 23px;
  background: #FDFDFD;
  border: 2.5px solid #1A1A1A;
  border-radius: 12px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="button"]:hover {
  background-color: #FDFDFD;
  color: #D64649;
  cursor: pointer;
}

.titleBackground {
  text-align: right;
  background-color: #FDFDFD;
  margin-left: auto;
  margin-right: 0px;
  box-shadow: -4px 4px 8px 2px rgba(0,0,0,0.9);
}

.imgBackground {  
  background-image: url("./img/bg.png");
  background-repeat: none;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.title {
  padding: 8px;
}

.subOption {
  width: 80%;
  background-color: #D64649;
  box-shadow: -4px 4px 8px 2px rgba(0,0,0,0.9);
}

.subOption:hover {
  background-color: #FF1619;
  transition: .5s ease all;
  cursor: pointer;
}

.menuOption {
  font-size: 64px;
  padding: 16px;
}

.column {
  float: left;
}

.left {
  width: 40%;
} 

.right {
  width: 60%;
  height: 100%;
}

.header {
  padding: 12px;
  font-size: 38px;
  color: #FDFDFD;
}

.header:hover {
  cursor: pointer;
  background-color: #D64649;
}

.header:hover:after {
  color: #FDFDFD;
}

.header:after {
  content: "|";
  color: #D64649;
}

.header:last-child:hover {
  background-color: #1A1A1A;
}

.header:last-child:after {
  content: "";
}

.setting {
  display: grid;
  grid-template-columns: [setting] 60% [option] 40%;
  color: #FDFDFD;
  font-size: 44px;
  place-items: center;
}

.setting > p {
  grid-column: setting;
  text-align: center;
}

.setting > div {
  display: flex;
  width: 100%;
  height: fit-content;
  grid-column: option;
}

.setting > div > * {
  display: inline-block;
  margin-right: 2.5%;
}

.settingsOptions {  
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 80%;
}

#MainMenu {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px;
}

#Menu {
  padding: 32px;
  padding-right: 0px;
}

#GameTitle {
  font-size: 96px;
  margin-left: 45%;
  padding-right: 12px;
}

#Settings {
  display: none;
}

#SettingsSection {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #D64649;
  border-radius: 10px;
}

#Headers {
  display: grid;
  grid-template-columns: [display] 1fr [input] 1fr [audio] 1fr [space] auto [exit] 0.33fr;
  width: 100%;
  height: fit-content;
  border-bottom: 2px solid #D64649;  
}

#DisplaySettings {

}

#SkinButton {
  display: inline-block;
}

#Volume {
  display: inline-block;
  width: 25%;
}

#VolumeSelect {
  display: inline-block;
  width: 65%;
}

#SettingsButtons {
  display: block;
  height: 10%;
  width: 100%;
}

#SettingsButtons > input {
  display: inline-block;
  width: fit-content;
}

#SettingsButtons > input:first-child {
  margin-left: 60%;
  margin-right: 4px;
}

#SettingsQuit {
  color: #D64649;
  cursor: pointer;
  transition: .5s ease all;
}

#SettingsQuit:hover {
  color: #FDFDFD;
}